{% extends 'ExpedienteBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Cita list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for citum in citas %}
            <tr>
                <td><a href="{{ path('koica_cita_show', { 'id': citum.id }) }}">{{ citum.id }}</a></td>
                <td>{% if citum.fecha %}{{ citum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('koica_cita_show', { 'id': citum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('koica_cita_edit', { 'id': citum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('koica_cita_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
