{% extends 'ExpedienteBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Cita</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ citum.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if citum.fecha %}{{ citum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Paciente</th>
                <td><a href="{{ path('expediente_show', {id: citum.paciente.id}) }}">{{ citum.paciente.nombreCompleto }}</a></td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ citum.especialidad.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('koica_cita_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('koica_cita_edit', { 'id': citum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
