{% extends 'ExpedienteBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Especialidad list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for especialidad in especialidads %}
            <tr>
                <td><a href="{{ path('koica_especialidad_show', { 'id': especialidad.id }) }}">{{ especialidad.id }}</a></td>
                <td>{{ especialidad.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('koica_especialidad_show', { 'id': especialidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('koica_especialidad_edit', { 'id': especialidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('koica_especialidad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
