{% extends 'ExpedienteBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Especialidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ especialidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ especialidad.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('koica_especialidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('koica_especialidad_edit', { 'id': especialidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
