<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prueba técnica</title>
</head>
<body>
    {% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('expediente_new') }}">Ingresar paciente nuevo</a></li>
            <li><a href="{{ path('koica_cita_new') }}">Agendar cita</a></li>
            <li><a href="{{ path('koica_cita_index') }}">Reporte citas</a></li>
        </ul>
    </nav>
    {% endblock %}
</body>
</html>