{% extends 'ExpedienteBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Expediente list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrecompleto</th>
                <th>Fechanacimiento</th>
                <th>Dui</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Expediente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expediente in expedientes %}
            <tr>
                <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a></td>
                <td>{{ expediente.nombreCompleto }}</td>
                <td>{% if expediente.fechaNacimiento %}{{ expediente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ expediente.dui }}</td>
                <td>{{ expediente.direccion }}</td>
                <td>{{ expediente.telefono }}</td>
                <td>{{ expediente.expediente }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('expediente_show', { 'id': expediente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expediente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
