{% extends 'ExpedienteBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Expediente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>Nombre completo</th>
                <td>{{ expediente.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{% if expediente.fechaNacimiento %}{{ expediente.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>DUI</th>
                <td>{{ expediente.dui }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ expediente.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ expediente.telefono }}</td>
            </tr>
            <tr>
                <th>Expediente</th>
                <td>{{ expediente.expediente }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expediente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
